  <div class="merchantlist">
                  <h1><?=$page_data['Page_lang'][0]['pg_title']?></h1>
                    
                        <?=htmlspecialchars_decode($page_data['Page_lang'][0]['pg_descriptions'])?>
           
          <div class="get_new"> <a class="cta__button cta__button--small widthfixed" href="<?=$this->webroot?><?=$this->Template->getLang()?>/merchant/signup" style="margin-bottom:0;float:left;box-shadow:none!important;">Get started</a><div style="width:auto;"><img src="<?=$this->webroot?>img/arrow_next.png" hspace="10"/><span class="free_text">It is free</span></div></div>
                    
                    <div class="shadow2" style="display:none;">&nbsp;</div>
                    
                    <div class="clear" style="height:1px;"></div>
          
          <?php 
          $attrs=$this->Template->GetPageAttrByActionKey('inner_points',$page_data['Page']['id']);
          $tags=$this->Template->GetPageAttrByActionKey('tagline',$page_data['Page']['id']);
           // print_r($attrs);
         
          $halfCount=round(count($tags)/2);

          ?>
          <div>
            <div class="imgpanel1"><img src="<?=$this->webroot?><?=$attrs[0]->img?>" alt="" /></div>
            <div class="merchantright1">
              <h1><?=$attrs[0]->key?></h1>
              <h4>
                <?=$attrs[0]->subtitle?>
              </h4>
              <p>
                <?=$attrs[0]->values?>
              </p>
              <div class="circle1">1</div>
              <img src="<?=$this->webroot?>images/merchant/images/arrowmrchnt1.png" alt="" style="position:relative; left: -8em;top: -1em; display:none;" />
            </div>
            <div class="clear"></div>
            <img src="<?=$this->webroot?>images/merchant/mm-btm-shad.png" alt="" style="position:relative;right:4%; float:right; display:none;" />
            
            
            <div class="clear" style="height:60px;"></div>
            
            
            <div class="imgpanel2"><img src="<?=$this->webroot?><?=$attrs[1]->img?>" alt="" /></div>
            <div class="merchantright2">
              <h1><?=$attrs[1]->key?></h1>
              <h4>
                <?=$attrs[1]->subtitle?>
              </h4>
              <p>
               <?=$attrs[1]->values?>
              </p>
              <div class="circle1">2</div>
              <img src="<?=$this->webroot?>images/merchant/arrowmrchnt2.png" alt="" style="position:relative; left: 30em;top: 0em; display:none;" />
            </div>
            <div class="clear"></div>
            <img src="<?=$this->webroot?>images/merchant/mm-btm-shad.png" alt="" style="position:relative;right:4%; float:right; display:none;" />
            
            
            <div class="clear" style="height:1px;"></div>
            
            <div class="imgpanel1"><img src="<?=$this->webroot?><?=$attrs[2]->img?>" alt="" /></div>
            <div class="merchantright1">
              <h1><?=$attrs[2]->key?></h1>
              <h4>
                <?=$attrs[2]->subtitle?>              </h4>
              <p>
                <?=$attrs[2]->values?>
              </p>
              <div class="circle1">3</div>
              <img src="<?=$this->webroot?>images/merchant/arrowmrchnt1.png" alt="" style="position:relative; left: -8em;top: -1em; display:none;" />
            </div>
            <div class="clear"></div>
            
          </div>
          
          <div class="clear" style="height:60px;"></div>
          <div class="shadow2">&nbsp;</div>
          
          <div class="midtitle1">Merchant's Benefits at Menacompare</div>
          <?php if(!empty($tags)){ ?>     
          <div class="features-icons-list "> 
                
            <div class="grid-item">
              <?php 
                  foreach (array_values($tags) as $key => $value) {
                    if($key<$halfCount)
                    {
                      //echo $key;
                   ?>
                  
              <div class="iconlistdata"><img src="<?=$this->webroot?><?=$value->img?>" /></div>
              <div class="icondatalist"><?=$value->key?></div>
              <div class="clear"></div>
              
             

              <?php   } }

              ?>
            </div>
            
            
            
            
            <div class="grid-item">
               <?php 
                  foreach (array_values($tags) as $key => $value) {
                    if($key>=$halfCount)
                    {
                   ?>
              <div class="iconlistdata"><img src="<?=$this->webroot?><?=$value->img?>" /></div>
              <div class="icondatalist"><?=$value->key?></div>
              <div class="clear"></div>
                  <?php } } ?>
            </div>
           
             
          </div>
         <?php } ?>
       
             
                <div class="clear" style="height:1px;">&nbsp;</div>
                
            </div>
        </div>
        <div class="clear"></div>
    
    <div class="cta cta--blue row">
      <div class="grid" style="padding: 14px 0px 17px 0px;margin-bottom: 14px;margin: 0 auto;width: 1002px; text-align:center;">
        <h2 class="cta__title-major">Getting your products listed with Menacompare is easy:</h2>
        <p class="cta__subtitle">Create a Menacompare Merchant Account</p>
        <a class="cta__button cta__button--small" href="<?=$this->webroot?><?=$this->Template->getLang()?>/merchant/signup">Get started</a>
      </div>
    </div>
        </div>
        