/* CSS Document */@media screen and (max-width: 569px) {
.fb_iframe_widget {
  display: none !important;
}
.sticky-header.listing_fixed {
  display: none;
}
.wrapper > div:nth-last-child(1) > div {
  height: auto !important;
}
img {
	max-width:100%;
}
.header {
  height: auto !important;
  left:0 !important;
  padding: 5px 0 !important;
  position: fixed !important;
  top: 0 !important;
  width: inherit !important;
  display:inline-block !important;
}
.itm-imageWrapper.overfl-hid.itm-imageWrapper-UR256WA22QYFINDFAS {
  width: 129px;
}
.listdata {
	overflow: hidden;
	padding: 0px 0 18px !important;
	position: inherit;
	width: 100%;
}
.nano > .nano-content {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: relative;
}
.letter {
  width: 95% !important;
}
/*new add*/
#sample1 .listdata ul>li:hover .related_cat_over{
height:0px;
display: none;
}
.offers_tabs > li {
  font-size: 11px;
  width: 39% !important;
}
#sample2 .listdata> ul> li:last-child .gimage:hover .img_cover {
	box-shadow: none !important;
}

.listdata ul {
	width:96%;
}
.listdata ul li {
	width:30%;
	float: left;
	margin-bottom:4px;
	margin-right:3%;
}
.listdata ul li img {
	max-height: 30px !important;
	padding: 2%;
	text-align: center;
	max-width: 40px !important;
	box-shadow:none;
}
.menupanel1 {
	top:46px !important;
	min-height:242px;
}
.shopby {
	display: none;
}
#nav > ul > li > a {
	border-left: 1px solid;
	padding-left: 11px;
	border-radius:0px !important;
}
#nav > ul > li:nth-child(1) a {
	border-left: none;
	padding-left: 0px;
}
.hover-text {
	height:100%;
	width:93%;
	padding:0px 3px;
	background-position: 0 5px;
	display:none !important;
}
.hover-text ul {
	height:70px;
	overflow:hidden;
}
.hover-text ul li {
	min-height:15px;
	width:100%;
}
.hover-text ul li a {
	font-size:10px;
	line-height:15px;/*max-height:20px;*/
	height:auto;
}
.hover-text .title2, .hover-text .title2 a {
	font-size: 12px;
}
.hover-text .more {
	display:none;
}
.shopby {
	width:92%;
	background-position: 28% 4px;
	font-size: 1.5em;
	border-bottom:1px dotted rgb(111, 111, 111);
}
#nav li {
	height:2.5em;
}
#nav a:link, #nav a:visited {
	padding-right: 7px;
}
#polyglotLanguageSwitcher ul.dropdown {
	top:26px;
}
.menupanel1 .icon_close {
	background-size: 46% auto;
	right: -20px !important;
}
.serachpan {
	padding-top: 60px; /*edit on 16 sep (padding-top:8em;)*/
	width:auto;
}
.price_table_out.tabbox {
  width: 100% !important;
}
.clt1 {
	float:none;
	width:100%;
}
.clt1 img {
	display:block;
	margin:6% auto -10%;
	width:160px;
}
.clt2 {
	float:none;
	width:90% !important;
	min-width:inherit;
	margin:auto;
}
.searchbar {
	float:left
}
.listdatapan {
	width:97.7%;
	margin-top:30px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
.fullscreen_open {
	bottom:5.5em;
}
.footersection {
	height:55px;
	bottom:0px;
}
.fot1 {
	float:none;
	text-align:center;
	font-size:1.1em;
}
.fot2 {
	text-align:center;
	padding-top:5px;
	font-size:1.1em;
	float:none;
}
.leftitempanel {
	width:100%;
}
.bodypanel_inner {
	width:100%!important
}
.left-nav {
  border: medium none;
  float: none !important;
  margin: 50px auto 0;
  padding-right: 0 !important;
  width: 90%;
}
.col_righttotal {
	margin-left:0;
	width:94%;
	float:none;
	clear:both;
}
.grid_inner {
	width:95%;
	height:auto!important;
}
.inner_header {
	height:auto;
	padding:10px 0 20px 0 !important;
}
.righttop {
	float:none;
	width:100%;
}
.search-bar-text {
	width:70%;
}
.search_hints {
	width: 76%!important;
	height:110px !important;
}
a.recent_visit {
	position:inherit;
	left:inherit;
	width:35%;
	margin:0 auto;
	right:-36px !important;
	top:24px;
}
.seacrhpanel {
	float:none;
	width: 98%;
	margin-left:2%;
	display:inline-block;
}
.sortbypan {
	width: auto;
	height: 23px;
	float: left;
	margin-left:0;
	margin-bottom: 1em;
}
.select-box, .sortbypan {
	float:left;
}
div.item_value {
  height: 32px;
}
.search-box .search-by-cat div a span {
  margin-right: 14px;
}
div.item_value b {
  font-size: 12px;
}
.sorted-by-product li small {
  font-size: 12px;
  padding-left: 0.5em;
  position: relative;
}
.full-width {
	float: none;
	width: auto;
	margin-bottom: 4em;
	clear: both;
	border-bottom: none;
}
.productsCatalog_list > li {
  float: left;
  margin-right: 10px;
  width: 40% !important;
}
.footer {
	height:auto;
}
.fot1 {
	text-align:center;
}
#back-top {
	bottom: 17px!important;
}
.loadingmore {
	font-size:1.5em;
	width:35%;
}
.viewbypan {
	width: auto;
	float: left;
	padding-left: 0em;
	clear:both;
}
.listview {
	margin-left:10px;
	float:left;
}
.gridview {
	float:left
}
.productsCatalog_list {
	padding-top:2em;
	clear:both;
}
.cat_tab {
	width:95%!important;
	clear: both;
	margin-right:0!important;
	border: 2px solid #E6A646!important;
	margin-bottom:1em;
	border-radius: 5px 5px 0 0;
	height: auto!important;
	font-size: 1.5em!important;
}
.cat_tab:hover {
	border-color:#06c!important;
}
.cat_icon {
position: inherit!importan;
	float: right;
	top:8px!important;
}
.cat_iner_head {
	border-bottom:2px solid #F8BC23!important;
}
.cat_child_inner_sub {
	width:100%!important
}
.cat_tab:nth-child(5) {
	left:inherit!important;
}
.cat_tab_content_area {
	padding-top:2em;
	display:inline-block;
}
.cat_tab_contant {
	clear:both;
	width:96% !important;
}
.cat_iner_head {
	font-size: 1.5em!important;
}
.cat_child_inner_sub a {
	font-size: 1.2em!important;
	padding-left: 20px!important;
	background-position: -1px center-1px center!important
}
ul.listitempan li {
	margin-right:0;
	width:100%;
}
.list_img {
	width:8%!important;
}
.list_img a img {
	float:left;
	max-width: 80px;
}
.lazyImage.loaded {
	min-width:32%;
	float:left;
}
.loistdata-div {
	width:65%;
	float:left;
}
h4.smalltext, .loistdata-div .msrp-value, .loistdata-div br, .loistdata-logo-div {
	display:none;
}
.gotostore, .listprice {
	margin-left:0;
	clear:both;
}
.gotostore {
	margin-left:0;
	clear:both;
}
.product_img {
	float:none;
	width:100%;
	clear:both;
}
.slide_details, #slide_details1, .product_img img {
	width:100%!important;
	height:inherit !important;
}
.p-list span {
  margin: 0 auto 0 7px !important;
}
#thumb {
	display:none;
}
.product_topsec_det {
	float:none;
	width:auto!important;
	margin-top:2em;
}
.detailspricepan {
	width: 99%;
	float: none;
	clear: both;
	margin-top:2em;
	margin-bottom:2em;
}
.jumplinks2 {
	line-height:22px;
	text-align:center;
	float:none;
}
.tableHead {
	height:auto;
}
.price_table_out {
	float: none;
	width: 100%;
	position: relative;
	clear: both;
}
.jumplinks {
	float:left;
}
.panelstone .maintop, .panelstone .maintop1 {
	width:6%;
}
.shop_by_btn_plus {
	line-height:33px!important;
	height: 34px!important;
}
.ca-container2 .ca-wrapper {
	width:65%!important;
}
.ca-nav-prev {
	left:0px!important;
}
.ca-nav-next {
	right:0px!important;
}
.detailstab {
	width:auto!important;
}
.login-popup {
	width:86%!important;
	top:11em!important;
	position: absolute!important;
	left:2%!important;
}
.popuptext {
	width:98%!important;
}/*a.recent_visit.active{position: inherit!important;right: inherit!important;top: 20px!important;width: 35%!important;}	.recent_view{position:relative!important; width: 95%!important; top:10px!important;background-position: 11px -21px!important;padding-left: 12px!important; }*/
.detailspricepan h1 {
	font-size:1.2em!important;
}
.logintag {
	padding-left:0px;
	margin-left:0;
	border:none;
	margin-top:18px;
	height:12px !important;
	margin-right:0px !important;
	padding-right:0px !important;
	padding-top:8px !important;
}
.signinpan {
	height:auto;
	padding-top: 1px !important;
	margin:0px !important;
}

.toplogo a span.innertag {
	left:11em;
	display: none;
}
.innernavpan {
	min-height:4em;
	height:auto;
}
#nav2 a:link, #nav2 a:visited {
	padding:1.5em 4px;
	font-size:13px;
}
.merchantlist h1 {
	font-size:16px;
}
.merchantlist h2 {
	font-size:1.2em;
	line-height: 1.5em;
}
.merchantlist h3 {
	font-size: 1.1em;
}
.cta__button, .btn-sub {
	font-size:1em;
}
.imgpanel, .imgpanel2 {
	width:auto;
	float:none;
	clear:both;
}
.merchantright1 {
	width:80%;
	margin-left:20%;
	float:none;
	clear:both;
	padding-top:0px;
}
.circle1 {
	top:8%;
}
.features-icons-list {
	padding:20px 0;
}
.grid-item {
	float:none;
	width:100%;
}
.merchantright2 {
	width:78%;
	margin-left:20%;
}
.merchantright2 .circle1 {
	top:10%;
}
.shadow2 {
	width:100%;
	background-size: 100%;
}
.signupleftpannew2, .signupleftpannew1 {
	float:none;
	width:99%;
}
.signupleftpannew2 img {
	width:96%;
}
.suez-cols {
	width: auto!important;
}
.rowpanel3 {
	padding:0 5px 0 10px;
	width:100%;
}
.breadcrumb {
	display:none;
}
#step1 form {
	width:100%;
	margin:0 auto;
	float:none;
}
.col3x .loginform {
	width:100%!important;
}
.proceednext {
	left:0px;
}
.sticky-header ul li a {
	margin-bottom:1em!important;
}/*  Offers  */
.right-content {
width:95% !important;}
.gd-col {
	width:100%!important;
	float:none!important;
}
#qa-new-arrivals {
  font-size: 16px;
}
.dotdProductModuleNew .titleArrows {
	width: 99.5%!important;
}
.grid {
	min-width:inherit!important;
}
.listing_fixed {
	width:auto!important;
	position: absolute!important;
	top: 12em!important;
}
.paper_box ul li {
	width:100%!important;
	margin-bottom: 3em!important;
}
.brand_img_cover img {
	max-height: 150px!important;
	max-width: 150px!important;
}
.paper_box ul li a {
	font-size:19px;
}/*  Offers  */		/*  Hme slider bottom  */
.ca-container {
	width:81%!important;
}
.ca-nav-prev {
	left:-22px!important;
}
.ca-nav-next {
	right:-15px!important;
}
.ca-wrapper {
	width:94% !important
}/*  Hme slider bottom  */
#ca-container2 .ca-item {
	width: 93%;
}
.clt1 span {
	left:2em;
}
.kpbb {
	width:86%!important;
}
.pspo-offer-flare a {
	width:93%!important;
	margin-top: 1em!important;
}
.showdetailspnel {
	width:90%;
}
.brand_img_cover img {
	max-height: 150px!important;
	max-width: 150px!important;
}
.paper_box ul li .brand_img_cover {
	height:auto;
}/*  form page responsive  */	/*.signupleftpannew2 {float: none!important;width: 100%!important;}	.signupleftpannew1{width:100%!important;}*/
.offers #loginform input.form-text {
	width:87%!important;
}
.header_main .left {
	padding-left:1em!important;
}
.header_main a {
	text-decoration:none;
}
.horizontalrule {
	margin-bottom: 3em!important;
}
.signupleftpannew2 {
	display:none;
}
.proceednext {
	position:inherit;
}
.offers input[type="submit"], .offers input[type="button"] {
	margin-right: 2%!important;
	width: 93%;
}
.header_main .left {
	float: left;
	width: 99%;
	padding:0px!important;
}
.subheading {
	font-size:12px!important;
}
.heading1 {
	font-size: 17px!important;
}
#nav2 a:link, #nav2 a:visited {
	padding:1.5em 4px!important;
	font-size:11px!important;
}
.loginpan {
	margin:7px 0 4px 0!important;
}/*  form page responsive  */
.header_main .left {
	width:auto!important;
	margin-bottom:20px!important;
	margin-left:13px;
}
span.image_step1, span.image_step2, span.image_step3, span.image_step4 {
	margin-right:0px;
}
.proceednext {
	display:none!important;
}
.videopan1 {
	width:95%!important;
}
embed {
	width: 100%!important;
}
#section1 table {
	width: 100%;
	overflow-y: hidden;
}
.nano {
	width: 100%!important;
	position:static;
}
.listdata {
	width: 100%;
}
.dsntnew1 {
	font-size:11px !important;
	font-weight:normal !important;
}
.worksSteps {
	float: none;
	width: 100%;
	margin-bottom: 3em;
}
.worksSteps a {
	font-size: 20px;
}
.worksSteps a .step {
	font-size: 20px;
	top: 6px;
}
.compare_sec_rgtdiv {
	float: none;
}
.pspo-offer-flare, .pspo-offer-flare a:link {
	width:85%;
}
a.recent_visit.active {
	position: relative!important;
	right: -56px!important;
	top: 24px!important;
	height: 27px!important;
}
.recent_view {
	width: 94%!important;
	top: 0!important;
	height: 200px;
}
.breadcrumbs a, .breadcrumbs span {
	font-size: 11px;
}
span.breeadset {
	font-size: 16px;
}
#ca-container2 .ca-item {
	width: 195px;
}
.skdslider ul.slides li {
	display: block!important;
	position: relative!important;
}
#polyglotLanguageSwitcher a {
	font-size: 9px!important;
	width: auto!important;
	padding-right: 15px!important;
	padding-top:2px!important;
}
#polyglotLanguageSwitcher span.trigger {
	display: block!important;
}
.listdata ul li:last-child .img_cover img {
	position: relative;/* top: 2.5em;*/
}
.showdetailspnel .thumbnail-div, .showdetailspnel .thumbdata-div, .price_table_out, {
width: 100%!important;
float: none;
}
.sellerLogoRating {
	float: none;
	margin: 0 auto;
}
.panelstone .maintop, .panelstone .maintop1 {
	width: 91%!important;
	border-bottom: 1px solid #ccc;
}

a.buynow {
	width: 88%;
	font-size: 15px;
}
.nano.recent_v {
  max-height: 165px;
  min-height: 164px;
}
.recent_view {
  left: 62px;
  top: 1px !important;
  width: 76% !important;
}
#loadder_counter {
	width: 80%!important;
	left: 4%!important;
	top: 24%!important;
}
#loadder_counter .pop_logo, #loadder_counter .pop_logo img {
	width: 100%!important;
}
#loadder_counter .product_iconlink img {
	width:auto!important;
	height:auto!important;
}
.small_for_filter_button {
	display:block;
}
.stickyFilter .tot_colaps {
	display:none
}
.breadcrumbs_pan {
	width:95%;
}
.showdetailspnel .thumbnail-div, .showdetailspnel .thumbdata-div {
	width:100%;
	float:none;
}
.cat_tab_contant {
	margin-bottom:2em;
}
.filter_top_but {
	display:block!important;
}
.signinleftpannew1 {
	width: 57% !important;
	padding:0% 1% 0 1% !important;
}
.fancybox-opened {
	top: 50px !important;
}
.fancybox-inner {
	margin-left:-10% !important;
	width:250px !important;
	height:auto !important;
}
.col3x .loginform h2 {
	font-size: 12px;
	margin-bottom: 14px;
}
.offers form .form-field {
	line-height:4px !important;
}
.fancybox-outer, .fancybox-inner input {
	width:100% !important;
}
.offers input.form-text, .offers textarea.form-text {
	padding:5px 7px 10px 30px !important;
	width:100% !important;
}
#polyglotLanguageSwitcher a {
	padding-left:27px !important;
}
.get_new {
	width:228px;
}
.get_new .widthfixed {
	padding:5px 10px !important;
	width:81px;
	font-size:12px !important;
	margin-left:-4px !important;
}
.freetag1 .free_text {
	font-size:15px !important;
}
.get_new .freetag1 {
  left: 71px !important;
  right: -24px;
}
.grid_inner .logintag {
	font-size:14px !important;
}
#nav2 li {
	line-height:40px !important;
}
#step1 {
	border:0px !important;
}
.signupleftpannew1 .loginform {
	width:75% !important;
}
.newlable .form-btns label {
	padding-bottom:10px !important;
}
.newheadertwo {
	padding-top:0px;
	margin-top:0px;
}
.newheadertwo h1 {
	font-size:20px !important;
}
.vid_r {
	width:96%;
	float:none;
}
.vid_l {
	width:96%;
	float:none;
}
h4.worksSteps {
	font-size:13px !important;
}
h4.worksSteps .step {
	font-size:13px !important;
}
.sticky-header ul li a {
  font-size: 12px !important;
  margin: 0px !important;
  padding: 4px 3px !important;
}
.msssubheader {
	font-size: 11px !important;
	line-height: 18px;
}
.rowpanel3.leftpatern_MrT.new_tag5 {
  padding: 0px ;
}
.fotpanslider {
	visibility:hidden;
}
.sharebutton, .fb-like {
	visibility:hidden;
	display:none;
}
.skdslider > ul > li {
  position: static !important;
}
.right-content .fs12 {
	font-size:11px !important;
}
.listdata ul li:last-child .img_cover {
	width:79px;
	height:45px;
	margin-top:1px;
}
.p-list span {
	margin:0px auto 0 40px;
	clear:both !important;
}
.p-list span.title {
	margin:2px 5px 3px 0 !important;
	padding:0px !important;
	font-size:12px !important;
}
h2.listtitle a {
	font-size:14px !important;
}
.listprice {
	font-size:15px !important;
}
a.recent_visit {
	width:40%;
	display: none;
	top:9px !important;
}
.listdatapan #about {
	height:60px;
}
.listdatapan {
	padding:5px;
	height:70px;
}
.search_filterdata {
	font-size:12px !important;
}
.searchlistpan {
	background-position:left 10px !important;
	line-height:22px;
	padding-top:2px;
	height:auto !important;
	float:none;
	margin-left:15px;
}
.showlistdata {
	height:20px;
	width: auto !important;
}
.searchbar {
	width:100%;
	padding-left: 14px;
	margin:0px 5px !important;
	font-size:12px;
	height:auto !important;
}
.searchbutton_normal {
	margin:-25px 0 0 0 !important;
}
.searchnow {
	margin:-24px 0 0 0 !important;
}
.searchnow_normal {
	height:auto !important;
}
.leftitempanel2 {
	width:80%;
}
.clt2 {
	z-index:500;
	margin-top:15px !important;
}
.merchantlist p {
	width:96% !important;
}
.merchantright2 h4 {
	font-size:15px !important;
}
.cta__title-major, .midtitle1 {
	font-size:18px !important;
}
.cta__subtitle {
	font-size:16px !important;
}
.cta--blue {
	padding:5px 0 !important;
}
#back-top span {
	width:30px !important;
	height:30px !important;
	background:url("../../img/gototop.png") no-repeat scroll 0 8px / 80% auto transparent !important;
}
.iconlistdata img {
	width:40px !important;
}
.iconlistdata {
	width:40px !important;
}
.icondatalist {
	padding-top:0px !important;
	font-size:13px !important;
}
.gotostore, .listprice {
	background-size:17% auto;
}
.gotostore:hover {
	background-position:0 -25px;
}
.fancybox-wrap {
	width:80% !important;
}
.fancybox-wrap input {
	width:100% !important
}
.offers label.loginaddtion {
	font-size:12px;
}
.drop3 {
	left:162px;
	top:-10px;
	background-size: 62% auto;
}
.drop2 {
	left:105px;
	top:-10px;
	background-size: 62% auto;
}
.drop1 {
	left:37px;
	top:-10px;
	background-size: 62% auto;
}
#sample2 > .grid > .listdata {
	height:215px;
	overflow:hidden;
}
.homefl {
	color: #ccc;
	display: block;
	float: right;
	font-size: 11px;
	font-weight: normal;
	position: relative;
	top: 7px;
	width: auto;
}
.homefl a {
	color:#ccc;
	text-decoration:none;
}
.homefl a:hover {
	color:#fff;
	text-decoration:none;
}
.fancybox-skin {
	min-height: 200px !important;
	padding: 37px 0 0 0px !important;
	margin-left:0px;
}
.termleft {
	margin-left:20%;
	overflow-x:hidden !important;
	width:80% !important;
}
.termleft h2 {
	font-size:18px;
	color:#067edd;
	font-weight:normal;
}/*.gotostore, .listprice{padding:0 0 0 25px;                       background-size:17% auto;					   font-size:12px;					   height:22px;}					   .gotostore:hover{background-position:0 -20px;}					   .comparetoothe{font-size:12px;               background-position:9px 5px;			   background-size:18% auto;}			   .comparetoothe:hover{background-position:9px -20px;}	*//*add on 16 sep for Department menu*/
.listdata ul li {
	margin: 0;
	width: 100%;
	min-height:inherit;
}
.see_all_all > .gimage {
  border-bottom: medium none !important;
  margin-top: 2px;
}
.listdata ul li h2 {
  font-size: 10px;
  height: inherit;
  line-height: 32px;
  padding-left: 49px;
}
.listdata ul li h2 a {
	padding-left:8px;
	font-size:14px;
}
.listdata ul li > div > .img_cover {
  float: left;
  height: auto;
  margin-top: -34px;
  width: 40px;
}
/*.img_thumbnail_image {  width: 40px;  height:30px;}*/
.listdata ul li:nth-child(4), .listdata ul li:nth-child(5), .listdata ul li:nth-child(6), .listdata ul li:nth-child(7), .listdata ul li:nth-child(8), .listdata ul li:nth-child(9), .listdata ul li:nth-child(10), .listdata ul li:nth-child(11), .listdata ul li:nth-child(12) {
	display:none;
}
.listdata ul li .gimage {
  display: inline-block;
  margin-bottom: 0;
  width: 100%;
  border-bottom: 1px solid #ddd;
}
.listdata ul li:nth-child(1) {
	margin-bottom:0px !important;
}/*See more*/
.gimage > a {
  background: #005fbe;
  border: 1px solid #ccc;
  color: #fff;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  line-height: 13px;
  margin-bottom: 11px;
  margin-top: 5px;
  padding: 8px 10px;
  text-decoration: none;
  text-shadow: 0 1px 2px rgba(150, 150, 150, 1);
}
.img_recent_cover {
  float: left;
  height: 40px;
  text-align: center;
  width: 46px;
}
.listdata ul li h2 a {
  font-size: 12px;
  padding-left: 0;
}

.recent_view .grid_inner .listdata ul li {
  float: left;
  padding: 0 24px 7px 0;
  border-bottom: none;
}
.gimage > a:hover {
	background:#004aa9;
}
.listdata ul li > .gimage > a > .img_cover:after {
	content:"SEE All"
}
.listdata ul li > .gimage > a > .img_cover > img {
	display:none;
}
.listdata ul li:last-child .img_cover {
	height: inherit;
	margin-top: 0px;
	width: inherit;
	box-shadow:none !important;
}
.img_cover {
	box-shadow: none;
}/*See more*//*offer*/
#sample2 .listdata ul li h2 {
	font-size: 12px;
	height: inherit;
	line-height:20px;
}
.g-offers {
	display:block;
	width:80%;
	text-align:left;
	font-size:12px!important;
	top:32px;
	bottom:0px;
	right:0px;
	height:auto;
	background:none;
	box-shadow:none;
	color:#000;
	overflow:visible;
}
.dsntnew1 {
	color:#000
}
#sample2 .listdata ul li {
	min-height: 75px;
}
.gimage:hover .g-offers {
	height: 0;
	padding-top: 0px !important;
	background: none;
}
.offers_tab_content > li:nth-child(2) .gap_hight {
  height: 0px !important;
}
#sample2 .img_cover {
  text-align: left;
}
.img_cover {
  width: auto;
}
.offers_tab_content > li > ul > li {
  display: none;
}
.offers_tab_content > li > ul > li:nth-child(1), .offers_tab_content > li > ul > li:nth-child(2), .offers_tab_content > li > ul > li:nth-last-child(1) {
  display: block;
}
#sample2 .last .img_cover {
  height: auto;
  width: auto;
}
#sample2 .gimage:hover .img_cover {
	box-shadow: none; 
}
#sample2 .gimage div {
  height: auto;
}
#sample2 .listdata ul li.last {
	margin-top: -1px;
}
.searchlistpan {
	font-size:13px;
}
/*merchant header*/
.signinpan {
  position: relative;
  top: -20px;
}
.bodypanl > div:nth-last-child(1) > .grid, .footer > .grid {
  height: auto !important;
}
.inner_header {
  display: inline-block;
  position: relative;
  top: 46px;
  height: auto;
  padding: 2px 0 5px !important;
}
.toplogo {
  float: left;
  margin: 0 auto;
  width: 50%;
}
.toplogo a img {
  height: 32px;
  padding-left: 5px;
}
.grid_inner .logintag {
  clear: both;
  font-size: 10px !important;
  margin-top: -10px;
  padding-left: 5px;
}

.signinpan ul li {
  margin-right: 0;
}
.signinpan ul li a {
  background: #175faf;
  border-radius: 0;
  box-shadow: none;
  margin-right: 0;
  padding: 21px 12px;
  border:none;
}
.signinpan ul li a:hover {
  background: #568bc8;
  border-bottom:3px solid #f39441;
  padding:20px 12px;
}
.innernavpan {
  position: relative;
  top: 13px;
}
.various_log {
  border-left: 1px solid #6ca1de !important;
}
.bodypanl {
	margin-top:0;
	display:inline-block;
}
.ca-container2 {
  width: 91%;
}
.bodypanel_inner {
  padding-top: 0;
}

.p-list span {
  margin: 0 auto 0 -10px;
}
#ca-container2 .ca-item {
  margin-right: 20px !important;
  width: 180px;
}
.jumplinks2 a {
  font-size: 14px;
}
.ca-container2 .ca-wrapper {
  width: 94% !important;
}
.ca-nav span.ca-nav-next {
  height: 47px;
}
#sample2 .listdata > ul > li:last-child .gimage {
  height: auto;
  width: 100%;
  padding-bottom:6px;
}
.breadcrumbs.fs12.l-hght26 {
  margin-top: 7px;
}
.overly_main_section > section  {
  margin-top:10px
}
.overly_main_section > section > .prod_not_found {
  width: 87%;
}
.imgpanel1 {
	width: 98%;
	margin-top:10px;
	text-align:center;
}
}
@media screen and (max-width: 360px) {
a.recent_visit.active {
  height: 27px !important;
  position: relative !important;
  right: -27px !important;
  top: 24px !important;
}
.product_img img {
  max-height: 100% !important;
}
.rowpanel3 {
  padding: 0 5px 0 0px;
}
.recent_view {
  left: 62px;
  top: 1px !important;
}

.itm-imageWrapper.overfl-hid.itm-imageWrapper-UR256WA22QYFINDFAS {
  width: 160px;
}
}
@media screen and (max-width: 320px) {
#ca-container2 .ca-item {
  margin-right: 0 !important;
  width: 183px;
}
.viewd_content {
  float: right;
  width: 60%;
}
.recent_view {
  left: 59px;
  top: 1px !important;
}
.productsCatalog_list > li {
  float: none;
  margin: 0px auto;
  width: 80% !important;
}
.ca-container2 {
  width: 70%;
}
#nav a:link, #nav a:visited {
	font-size:11px;
}
.shopby {
	padding-bottom: 5px;
	font-size: 1.2em;
}
.searchbar {
	font-size:11px;
	margin-left:5px !important;
}
.loginpan {
	margin:7px 0 4px 0!important;
}
#nav2 a:link, #nav2 a:visited {
	padding:1.5em 4px!important;
	font-size:11px!important;
	padding: 13.5px 0px 0px 24px;
}
.mobilebtn {
	width:100%!important;
}
a.recent_visit.active {
	position: relative!important;
	right: -1px!important;
	top: 24px!important;
	height: 27px!important;
	font-size:15px;
}

.breadcrumbs a, .breadcrumbs span {
	font-size: 11px;
}
span.breeadset {
	font-size: 16px;
}
#polyglotLanguageSwitcher a {
	font-size: 9px!important;
	width: auto!important;
	padding-right: 15px!important;
	padding-top:2px!important;
}
#polyglotLanguageSwitcher span.trigger {
	display: none!important;
}
.fot2 a, .fot1 {
	font-size: 11px; /*edit on 16 sep (font-size: 9px;)*/
}
.leftitempanel {
	width:65%;
	float:left;
}
.drop1 {
	left:23px;
}
.drop2 {
	left:87px;
}
.drop3 {
	left:138px;
}
.ca-item-main a {
	width: 60%;
}
.small_for_filter_button {
	display:block;
}
a.recent_visit {
  right: -29px !important;
}
a.recent_visit.active {
  right: -7px !important;
}
.itm-imageWrapper.overfl-hid.itm-imageWrapper-UR256WA22QYFINDFAS {
  margin: 0 auto !important;
  width: 150px !important;
}
.imgpanel1 img, .imgpanel2 img {
  height: 215px !important;
  width: 228px !important;
  border:none!important;
  padding:10px!important;
}
.comparetoothe, .gotostore {
  font-size: 11px;
}

}
