@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
}
body {
	margin:0px;
	font-weight:normal;
	font-size:12px;
	color:#414141;
	font-family: 'Roboto';
	width:100%;
	height:100%;
	vertical-align: baseline;
	background-color:#222a35;
}
img {
	border:none;
}
@font-face {
 font-family: 'Roboto';
 src: url('../fonts/Roboto-Regular.ttf');
 src: local('?'), url('../fonts/Roboto-Regular.ttf') format('truetype'),;
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'BEBAS';
 src: url('../fonts/BEBAS.ttf');
 src: local('?'), url('../fonts/BEBAS.ttf') format('truetype'),;
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'FjallaOne-Regular';
 src: url('../fonts/FjallaOne-Regular.ttf');
 src: local('?'), url('../fonts/FjallaOne-Regular.ttf') format('truetype'),;
 font-weight: normal;
 font-style: normal;
}

/*  New Dashboard Css starts on 5th May 2014  */

.dashboard_left
{
	width:200px;
	height:auto;
	float:right;
}
.dashboard_right
{
	width:769px;
	height:auto;
	float:left;
}
.photo_panel
{
	width:auto;
	/*padding:10px;*/
	/*-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;*/
	
	/*-webkit-border-top-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-topright:5px;
	-moz-border-radius-bottomleft:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;*/
	
	/*-khtml-box-shadow:#BBBBBB 0 1px 5px;
	-ms-box-shadow:#BBBBBB 0 1px 5px;
	-o-box-shadow:#BBBBBB 0 1px 5px;
	-moz-box-shadow:#BBBBBB 0 1px 5px;
	-webkit-box-shadow:#BBBBBB 0 1px 5px;
	box-shadow:#BBBBBB 0 1px 5px;*/
}
.profile_img
{
	width:auto;
	height:auto;
	border:1px solid #E7E7E7;
	position:relative;
}
.profile_img img
{
width: 92%;
height: auto;
border: none;
margin: 0 auto;
display: block;
padding: 7px;
}
.profile_name
{
	font-size:19px;
	text-align:left;
	color: #006B04;
	line-height:18px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:2px;
	border-bottom:1px dotted #cfd4d9;
}
.profile_name a
{
	text-decoration:none;
	color: #006B04;
}
.profile_name a:hover
{
	text-decoration:none;
	color:#F57600;
}
.change_photo {
	width: 98%;
	height: auto;
	padding: 5px 2px 4px 2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-align: center;
	color: #FFFFFF;
	position: absolute;
	bottom: 0;
	color: #FFFFFF;
	background-color: #334AA7;
-webkit-box-shadow: 0 1px 2px rgba(32, 82, 145, 0.22);
box-shadow: 0 1px 2px rgba(28, 70, 109, 0.22);
background-image: -webkit-linear-gradient(bottom, #3373E7 0%, #6992E9 100%);
background-image: -moz-linear-gradient(bottom, #1b1b1b 0%, #434343 100%);
background-image: -o-linear-gradient(bottom, #1b1b1b 0%, #434343 100%);
background-image: -ms-linear-gradient(bottom, #1b1b1b 0%, #434343 100%);
background-image: linear-gradient(bottom, #1b1b1b 0%, #434343 100%);
}
.change_photo:hover {
	background-image: -webkit-linear-gradient(bottom, #EB800D 0%, #FFA402 100%)!important;
background-image: -webkit-linear-gradient(bottom, #EB800D 0%, #FFA402 100%)!important;
background-image: -webkit-linear-gradient(bottom, #EB800D 0%, #FFA402 100%)!important;
background-image: -webkit-linear-gradient(bottom, #EB800D 0%, #FFA402 100%)!important;
background-image: -webkit-linear-gradient(bottom, #EB800D 0%, #FFA402 100%)!important;
background-color: #C06605 !important;
}
.profile_name_edit
{
	font-size:13px;
	text-align:left;
	color:#494949;
	text-decoration:none;
}
.profile_name_edit:hover
{
	color:#006B04;
}
.customer_acc
{
	width:180px;
	height:auto;
}
.customer_acc ul
{
	width:180px;
	height:auto;
	margin:0px;
	padding:0px;
}
.customer_acc ul li
{
	margin-bottom:3px;
	width: auto;
	height: auto;
	float: left;
	list-style-type: none;
	width:100%;
}
.customer_acc ul li a
{
	width: 100%;
	display:block;
	height: auto;
	float: left;
	list-style-type: none;
	padding:8px 8px;
	text-decoration: none;
	float: left;
	margin-right: 5px;
	margin-left: 0px;
	font-family: 'Roboto';
	font-size: 13px;
	text-align: left;
	color:#227EE2;
	background-color:#EEEEEE;
	-webkit-border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
.customer_acc ul li a:hover
{
	color:#FFFFFF;
	
	background-color: #334AA7;
	-webkit-box-shadow: 0 1px 2px rgba(32, 82, 145, 0.22);
	box-shadow: 0 1px 2px rgba(28, 70, 109, 0.22);
	background-image: -webkit-linear-gradient(bottom, #1348A7 0%, #3A6BD1 100%);
	background-image: -moz-linear-gradient(bottom, #1b1b1b 0%, #434343 100%);
	background-image: -o-linear-gradient(bottom, #1b1b1b 0%, #434343 100%);
	background-image: -ms-linear-gradient(bottom, #1b1b1b 0%, #434343 100%);
	background-image: linear-gradient(bottom, #1b1b1b 0%, #434343 100%);
}
.customer_acc ul li a.active
{
	color:#FFFFFF;
	background-color: #334AA7;
	-webkit-box-shadow: 0 1px 2px rgba(32, 82, 145, 0.22);
	box-shadow: 0 1px 2px rgba(28, 70, 109, 0.22);
	background-image: -webkit-linear-gradient(bottom, #1348A7 0%, #3A6BD1 100%);
	background-image: -moz-linear-gradient(bottom, #1b1b1b 0%, #434343 100%);
	background-image: -o-linear-gradient(bottom, #1b1b1b 0%, #434343 100%);
	background-image: -ms-linear-gradient(bottom, #1b1b1b 0%, #434343 100%);
	background-image: linear-gradient(bottom, #1b1b1b 0%, #434343 100%);
}
.prof_data_bg {
	width: 555px;
	height: auto;
	float: right;
margin: 0px 25px 0px 25px!important;
margin-left: 0px!important;
	padding: 0;
}
.prof_data2 {
	width: 196px;
	height: auto;
	min-height: 413px;
	float: left;
	padding: 0;
	border: none;
}
h1.font25 {
	font-size: 22px;
	font-weight: bold;
	color:#2C2C2C;
	text-align: left;
	line-height: normal;
	margin:0;
	text-align: right;
	direction:rtl;
}
div.l-hght26{float:right; direction:rtl;}
div.l-hght26 .l-hght14{float:right!important;}
div.l-hght26 a{float:right!important;}
div.l-hght26 span{float:right!important;}

.borderdash
{
	padding-bottom:4px;
	height:2px;
	clear:both;
	margin-bottom:4px;
	border-bottom: 1px solid #E9E9E9;
box-shadow: 0px 2px 4px #E9E9E9;
}
.font12B
{
/*	font-size:13px;
	text-align:left;
	font-weight:normal;
	color:#585858;
	line-height:24px;*/
	font-size: 13px;
text-align: right;
font-weight: normal;
color: #585858;
line-height: 24px;
direction: rtl;
}
.prof_data1{direction:rtl; text-align:right;}
.font12B strong
{
	font-size: 12px;
font-weight: bold;
width: 102px;
display: inline;
float: right;
}
.btn21 {
	cursor: pointer!important;
	color: #FFF!important;
	border: none!important;
	border-radius: 3px!important;
	-webkit-background-clip: padding!important;
	-moz-background-clip: padding!important;
	-webkit-box-shadow: 0 1px 2px rgba(32, 82, 145, 0.22)!important;
	box-shadow: 0 1px 2px rgba(28, 70, 109, 0.22)!important;
	outline: none;
	padding: 0px 12px;
	margin-top: 5px;
	font-size: 13px;
	margin: 0 auto;
	display: block;
	font-weight: bold;
	text-decoration: none;
	margin-bottom: 14px;
	float:right!important;
	line-height:32px;
	height: 35px!important;
	position: relative!important;
	margin-left: 15px!important;
margin-right: inherit!important;
	
background: #1348a7; /* Old browsers */
background: -moz-linear-gradient(top, #1348a7 0%, #3a6bd1 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1348a7), color-stop(100%,#3a6bd1)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #1348a7 0%,#3a6bd1 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #1348a7 0%,#3a6bd1 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #1348a7 0%,#3a6bd1 100%); /* IE10+ */
background: linear-gradient(to bottom, #1348a7 0%,#3a6bd1 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1348a7', endColorstr='#3a6bd1',GradientType=0 ); /* IE6-9 */
	
	
}
.btn21:hover {

	background: rgb(235,128,13); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ViODAwZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmE0MDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgb(235,128,13) 0%, rgb(255,164,2) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(235,128,13)), color-stop(100%,rgb(255,164,2))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgb(235,128,13) 0%,rgb(255,164,2) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgb(235,128,13) 0%,rgb(255,164,2) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgb(235,128,13) 0%,rgb(255,164,2) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgb(235,128,13) 0%,rgb(255,164,2) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb800d', endColorstr='#ffa402',GradientType=0 ); /* IE6-8 */
}

/*  New css on 6th May 2014  */

.sidebar-nav {
	min-height: 0;
	box-shadow: 0 0 10px #BDBDBD;
	-webkit-box-shadow: 0 0 10px #BDBDBD;
	-moz-box-shadow: 0 0 10px #BDBDBD;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	margin-bottom: 0;
	padding-bottom: 0;
}

.nav-tabs.nav-stacked {
border-bottom: 0;
}
.nav {
margin-left: 0;
margin-bottom: 18px;
list-style: none;
}
.nav .nav-header {
text-align: right;
direction:rtl;
display: block;
padding: 9px 15px;
font-size: 13px;
line-height: 18px;
color: #FFFFFF;
text-transform: uppercase;
background-color: #334AA7;
-webkit-box-shadow: 0 1px 2px rgba(32, 82, 145, 0.22);
box-shadow: 0 1px 2px rgba(28, 70, 109, 0.22);
background-image: -webkit-linear-gradient(bottom, #1348A7 0%, #3A6BD1 100%);
background-image: -moz-linear-gradient(bottom, #1b1b1b 0%, #434343 100%);
background-image: -o-linear-gradient(bottom, #1b1b1b 0%, #434343 100%);
background-image: -ms-linear-gradient(bottom, #1b1b1b 0%, #434343 100%);
background-image: linear-gradient(bottom, #1b1b1b 0%, #434343 100%);

	/*box-shadow:0px 1px 4px #292982;
	z-index:2;
	position:relative;*/
	box-shadow: 0px 1px 5px rgba(16, 58, 197, 0.7);
position: relative;
z-index: 2;
left: -3px;
width: 176px;

background: rgb(19,72,167); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzEzNDhhNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzYTZiZDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgb(19,72,167) 0%, rgb(58,107,209) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(19,72,167)), color-stop(100%,rgb(58,107,209))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgb(19,72,167) 0%,rgb(58,107,209) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgb(19,72,167) 0%,rgb(58,107,209) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgb(19,72,167) 0%,rgb(58,107,209) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgb(19,72,167) 0%,rgb(58,107,209) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1348a7', endColorstr='#3a6bd1',GradientType=0 ); /* IE6-8 */
}
/*.nav .nav-header:not(:first-child) {
	box-shadow: 0px 0px 5px #323285;
	z-index: 5;
	position:relative;
	border-bottom: 1px solid #AEAEF0;
}*/
.nav .nav-header:not(:first-child) {
position: relative;
z-index: 2;
left: -3px;
width: 176px;
box-shadow: 0px 1px 5px rgba(16, 58, 197, 0.7);
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
color: #555555;
background-color: #ffffff;
border: 1px solid #ddd;
border-bottom-color: transparent;
cursor: default;
}
.nav-tabs.nav-stacked > li > a {
	border: 1px solid #ddd;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	color: #2B2B2B;
	text-decoration: none;
	background: #F7F7F7;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	margin-top:0px;
	margin-right:0;
	padding: 9px 10px;
	border:none;
	
}
.nav-tabs > li > a {
padding-top: 8px;
padding-bottom: 8px;
line-height: 18px;
border: 1px solid transparent;
-webkit-border-radius: 4px 4px 0 0;
-moz-border-radius: 4px 4px 0 0;
border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a.active {
background:white;
color: #fff;
background: rgb(77,127,214); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRkN2ZkNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4MmE1ZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgb(77,127,214) 0%, rgb(130,165,238) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(77,127,214)), color-stop(100%,rgb(130,165,238))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgb(77,127,214) 0%,rgb(130,165,238) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgb(77,127,214) 0%,rgb(130,165,238) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgb(77,127,214) 0%,rgb(130,165,238) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgb(77,127,214) 0%,rgb(130,165,238) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d7fd6', endColorstr='#82a5ee',GradientType=0 ); /* IE6-8 */
}
 .nav-tabs > li > a:hover {
background:white;
color: #fff;
background: rgb(77,127,214); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRkN2ZkNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4MmE1ZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgb(77,127,214) 0%, rgb(130,165,238) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(77,127,214)), color-stop(100%,rgb(130,165,238))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgb(77,127,214) 0%,rgb(130,165,238) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgb(77,127,214) 0%,rgb(130,165,238) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgb(77,127,214) 0%,rgb(130,165,238) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgb(77,127,214) 0%,rgb(130,165,238) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d7fd6', endColorstr='#82a5ee',GradientType=0 ); /* IE6-8 */
}
.nav-tabs > li > a, .nav-pills > li > a {
padding-right: 12px;
padding-left: 12px;
margin-right: 2px;
line-height: 14px;
}
.nav > li > a {
display: block;
}
.nav-tabs.nav-stacked > li > a:hover {
border-color: #ddd;
z-index: 2;
}
[class^="icon-"], [class*=" icon-"] {
	display: inline-block;
	width: 14px;
	height: 14px;
	line-height: 14px;
	vertical-align: text-top;
	background-image: url("../images/glyphicons-halflings.png");
	background-position: 14px 14px;
	background-repeat: no-repeat;
	padding-right: 0px;
	margin-left: 10px;
	direction:rtl;
}
.icon-home {
background-position: 0 -24px;
	background-image: url("../../images/front-end/glyphicons-halflings.png");
}
.nav-tabs.nav-stacked > li > a:hover  .icon-home {
background-position: 0 -24px;
	background-image: url("../../images/front-end/glyphicons-halflings_white.png");
}
.icon-ban-circle {
background-position: -360px -143px;
	background-image: url("../../images/front-end/glyphicons-halflings.png");
}
.nav-tabs.nav-stacked > li > a:hover  .icon-ban-circle {
background-position: -360px -143px;
	background-image: url("../../images/front-end/glyphicons-halflings_white.png");
}
.icon-star {
background-position: -120px 0;
	background-image: url("../../images/front-end/glyphicons-halflings.png");
}
.nav-tabs.nav-stacked > li > a:hover  .icon-star {
background-position: -120px 0;
	background-image: url("../../images/front-end/glyphicons-halflings_white.png");
}
.icon-folder-open {
background-position:-335px -120px;
	background-image: url("../../images/front-end/glyphicons-halflings.png");
}
.nav-tabs.nav-stacked > li > a:hover  .icon-folder-open {
background-position:-335px -120px;
	background-image: url("../../images/front-end/glyphicons-halflings_white.png");
}
.icon-picture {
background-position: -456px -48px;
	background-image: url("../../images/front-end/glyphicons-halflings.png");
}
.nav-tabs.nav-stacked > li > a:hover  .icon-picture {
background-position: -456px -48px;
	background-image: url("../../images/front-end/glyphicons-halflings_white.png");
}
.icon-star {
background-position:-25px -47px;
	background-image: url("../../images/front-end/glyphicons-halflings.png");
}
.nav-tabs.nav-stacked > li > a:hover .icon-star {
background-position:-25px -47px;
	background-image: url("../../images/front-end/glyphicons-halflings_white.png");
}
.icon-globe {
background-position: -336px -144px;
	background-image: url("../../images/front-end/glyphicons-halflings.png");
}
.nav-tabs.nav-stacked > li > a:hover .icon-globe {
background-position: -336px -144px;
	background-image: url("../../images/front-end/glyphicons-halflings_white.png");
}
.icon-th {
background-position: -25px -120px;
	background-image: url("../../images/front-end/glyphicons-halflings.png");
}
.nav-tabs.nav-stacked > li > a:hover .icon-th {
background-position: -25px -120px;
	background-image: url("../../images/front-end/glyphicons-halflings_white.png");
}
.icon-calendar {
background-position: -167px 1px;
	background-image: url("../../images/front-end/glyphicons-halflings.png");
}
.nav-tabs.nav-stacked > li > a:hover .icon-calendar {
background-position: -167px 1px;
	background-image: url("../../images/front-end/glyphicons-halflings_white.png");
}
.icon-eye-open {
background-position:-49px -143px;
	background-image: url("../../images/front-end/glyphicons-halflings.png");
}
.nav-tabs.nav-stacked > li > a:hover .icon-eye-open {
background-position:-49px -143px;
	background-image: url("../../images/front-end/glyphicons-halflings_white.png");
}
.nav-tabs.nav-stacked > li > a:hover .icon-eye-open {
background-position:-49px -143px;
	background-image: url("../../images/front-end/glyphicons-halflings_white.png");
}
.nav-tabs.nav-stacked > li > a:hover .icon-eye-open {
background-position:-49px -143px;
	background-image: url("../../images/front-end/glyphicons-halflings_white.png");
}
.icon-edit {
background-position: -96px -72px;
	background-image: url("../../images/front-end/glyphicons-halflings.png");
}
.nav-tabs.nav-stacked > li > a:hover .icon-edit {
background-position: -96px -72px;
	background-image: url("../../images/front-end/glyphicons-halflings_white.png");
}
.icon-list-alt {
background-position: -264px -24px;
	background-image: url("../../images/front-end/glyphicons-halflings.png");
}
.nav-tabs.nav-stacked > li > a:hover .icon-list-alt{
background-position: -264px -24px;
	background-image: url("../../images/front-end/glyphicons-halflings_white.png");
}
.profile_img a
{
	display: block;
	text-decoration: none;
	color: #227EE2;
	margin: 0 auto;
	padding-bottom: 6px;
	width: 40px;
	height: 16px;
	position: relative;
	direction: rtl;
}
.profile_img a span
{
	background-position: -96px -72px;
	background-image: url("../../images/front-end/glyphicons-halflings.png");
	background-repeat: no-repeat;
	width:12px;
	height:15px;
	position:absolute;
	right:29px;
	top: 1px;
	direction:ltr;
}
.profile_img a:hover
{
	text-decoration:underline;
}
h1.intitle
{
	direction: rtl;
	text-align:right;
	font-weight: normal;
	color: #fff;
	font-family: sans-serif;
	font-size: 12px;
	padding: 7px 10px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	background-color: #334AA7;
	-webkit-box-shadow: 0 1px 2px rgba(32, 82, 145, 0.22);
	box-shadow: 0 1px 2px rgba(28, 70, 109, 0.22);
	background-image: -webkit-linear-gradient(bottom, #1348A7 0%, #3A6BD1 100%);
	background-image: -moz-linear-gradient(bottom, #1b1b1b 0%, #434343 100%);
	background-image: -o-linear-gradient(bottom, #1b1b1b 0%, #434343 100%);
	background-image: -ms-linear-gradient(bottom, #1b1b1b 0%, #434343 100%);
	background-image: linear-gradient(bottom, #1b1b1b 0%, #434343 100%);
	
	background: rgb(19,72,167); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzEzNDhhNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzYTZiZDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgb(19,72,167) 0%, rgb(58,107,209) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(19,72,167)), color-stop(100%,rgb(58,107,209))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgb(19,72,167) 0%,rgb(58,107,209) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgb(19,72,167) 0%,rgb(58,107,209) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgb(19,72,167) 0%,rgb(58,107,209) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgb(19,72,167) 0%,rgb(58,107,209) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1348a7', endColorstr='#3a6bd1',GradientType=0 ); /* IE6-8 */
}
.linkonline2
{
direction: rtl;
	text-align:right;
color: #585858;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
font-weight: 100;
clear: both;
display: block;
text-decoration: none;
padding-bottom: 7px;
border-bottom: 1px dotted rgb(209, 209, 209);
margin: 8px 10px;
}
.linkonline2 .rightspan1{float:left;}
.linkonline2 a
{
color: #333333;
text-decoration:none;
padding-bottom:7px;
display:block;
text-decoration:none;
}
.linkonline2 a:hover
{
color: #0678E2;
}
span.rightspan1
{
	color:#0678E2;
	float: right;
}
.font12B span a 
{
	color:#338CCE;
	text-decoration:none;
	padding-left:25px;
	position:relative;
	top:-2px;
}
.font12B span a:hover
{
	color:#fe7801;
	text-decoration:none;
}
.icon-products
{
	background-position: -25px -47px;
	background-image: url("../../images/front-end/glyphicons-halflings.png");
}
.dashboardpanform
{
	border:none;
	position:relative;
}
.dashboardpanform fieldset
{
	border:none;
	position:relative;
	margin-bottom:10px;
	clear:both;
	width:100%;
}
.dashboardpanform fieldset label
{
color: #58595A;
font-size: 13px;
width: 150px;
float: left;
vertical-align: middle;
padding-top: 3px;
}
.dashboardpanform fieldset input[type="checkbox"]{
width: 28px;
float: left;
vertical-align: middle;
margin-top: 5px;
}
.dashboardpanform fieldset input:disabled{
	background: #D3D3D3  !important;
}
.dashboardpanform fieldset input[type="radio"],.dashboardpanform fieldset input[type="text"],.dashboardpanform fieldset input[type="digits"],.dashboardpanform fieldset input[type="url"],.dashboardpanform fieldset input[type="password"],.dashboardpanform fieldset select  {
height: auto;
line-height: 14px;
font-weight: normal;
vertical-align: middle;
outline: none;
-moz-transition: background-color 0.2s ease 0s;
background: none repeat scroll 0 0 #FAFAFA;
border: 1px solid #B2B2B2;
border-radius: 3px 3px 3px 3px;
box-shadow: 0 1px 4px 0 rgba(190, 190, 190, 0.6) inset;
color: #333333;
font-size: 1em;
margin: 0;
padding: 7px;
width: 360px;
}
/*css on 10-05-2014*/
.dashboardpanform fieldset textarea {
	height: 87px;
line-height: 14px;
font-weight: normal;
vertical-align: middle;
outline: none;
-moz-transition: background-color 0.2s ease 0s;
background: none repeat scroll 0 0 #FAFAFA;
border: 1px solid #B2B2B2;
border-radius: 3px 3px 3px 3px;
box-shadow: 0 1px 4px 0 rgba(190, 190, 190, 0.6) inset;
color: #333333;
font-size: 1em;
margin: 0;
padding: 7px;
width: 359px;
	
	
}
.dashboardpanform fieldset textarea {
	height: 87px;
line-height: 14px;
font-weight: normal;
vertical-align: middle;
outline: none;
-moz-transition: background-color 0.2s ease 0s;
background: none repeat scroll 0 0 #FAFAFA;
border: 1px solid #B2B2B2;
border-radius: 3px 3px 3px 3px;
box-shadow: 0 1px 4px 0 rgba(190, 190, 190, 0.6) inset;
color: #333333;
font-size: 1em;
margin: 0;
padding: 7px;
width: 359px;
	
	
}

.dashboardpanform fieldset table tr td {
	padding: 8px 0px;
}
.dashboardpanform.mystyle fieldset table tr td:first-child {
vertical-align: top;
}

.dashboardpanform fieldset .errorfield
{
	color: #F31F02;
	font-size: 12px;
	padding-left: 6px;
}
.form-btns fieldset{
	border:none;
}
.form-btns label.newlable1 {
    background-image: url("../../images/front-end/shadow2.png");
background-position: -51px 25px;
background-repeat: no-repeat;
background-size: 55% auto;
clear: both;
display: table;
font-size: 15px;
height: 36px;
margin: 0 auto;
position: relative;
text-align: left;
top: 5px;
width: 100%;
font-weight: bold;
}
.errorpanel {
	height: auto;
	padding:12px 12px 12px 11px;
	background-color: #fe7801;
	font-size: 14px;
	color: #ffffff;
	display: block;
	margin: 10px 0px 9px 0px;
	font-weight: normal;
	background-image: url(../../images/front-end/error.png);
	background-repeat: no-repeat;
	background-position: 5px 5px;
	text-indent: 30px;
	border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	line-height: 12px;
}
.successpanel {
	height: auto;
	padding:12px 12px 12px 11px;
	background-color:#6DB91A;
	font-size: 14px;
	color: #ffffff;
	display: block;
	margin: 10px 0px 9px 0px;
	font-weight: normal;
	background-image: url(../../images/front-end/success.png);
	background-repeat: no-repeat;
	background-position: 5px 5px;
	text-indent: 30px;
	border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	line-height: 12px;
}
span.nitification
{
background: #FF8500;
border-radius: 50px;
padding: 3px 5px 3px 5px;
color: #fff;
margin-left: 5px;
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
float: left;
position: relative;
top: -2.5px;
}
.nav-tabs.nav-stacked li
{
	text-align:right;
	direction:rtl;
}
.prof_data1 table
{
	width:100%!important;
	border-bottom: 1px solid #DADADA;
	padding-bottom:15px;
}
.prof_data1 .selectbox
{
	width:67.5%!important;
}
.prof_data1 input[type="text"], input[type="password"]
{
	width:63%!important;
	float: right;position: relative;
left: -10px;
}
.prof_data1 input[type="digits"]
{
	width:63%!important;
	float: right;position: relative;
left: -10px;
}
.prof_data1 textarea
{
	width:88.5%!important;
float: right;
}
.prof_data1 label{float:right!important;padding-bottom: 5px;}
.prof_data1 .form-btns label.newlable1{background:none;text-align: right;}
div.CSSTableGenerator select, input[type="text"]
{
padding: 4px 5px 4px 0px;
min-width: 110px;
display: block;
text-decoration: none;
color: #242424;
box-shadow: 0 0 0px 0 #ccc;
-webkit-box-shadow: 0 0 0px 0 #ccc;
-moz-box-shadow: 0 0 0px 0 #ccc;
top: 0;
margin-left:10px;
width:140px!important;
position:relative;
right:10px;
left: 0;
z-index: 8;
margin-left: 8px;
background-color: #fff;
border: 1px solid #d3d3d3;
outline: none;
float: left;
margin-top: 6px;
}
div.CSSTableGenerator input[type="submit"], input[type="reset"]
{
text-decoration: none;
font-family: sans-serif;
color: #fff;
font-size: 12px;
text-transform: none;
font-weight: normal;
padding-top: 13px;
-webkit-transition: all 0.1s ease 0s;
-moz-transition: all 0.1s ease 0s;
-o-transition: all 0.1s ease 0s;
transition: all 0.1s ease 0s;
padding: 6px 10px;
border-radius: 2px;
margin-right: 4px;
background: rgb(121, 169, 240);
box-shadow: 0px 1px 1px rgb(6, 63, 184);
border:none;
cursor:pointer;
}
div.CSSTableGenerator input:hover[type="submit"], input:hover[type="reset"]
{
	background:#FF8500;
box-shadow: 0px 1px 1px black;
}
.linkonline2:last-child
{
	border-bottom:0px;
	padding-bottom:0;
}