
.videopan1
{
	width:750px;
	height:280px;
	border:1px solid rgb(219, 219, 219);
	padding:10px;
	margin:0 auto;
}
.MrT_NorDV
{
	height:auto;
	position:relative;
	margin:15px 0px;
}
.MrT_dv1
{
	width:300px;
	height:180px;
	float:left;
	border:1px solid rgb(219, 219, 219);
	padding:5px;
}
.MrT_dv2
{
	width:640px;
	height:auto;
	float:right;
}
.MrT_dv2 h2 {
	font-size: 25px;
	font-weight: 300;
}
p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 20px;
	color: #121418;
	margin: 3px 0 10px 0;
	word
}
.MrT_dv3
{
	width:640px;
	height:auto;
	float:left;
}
.MrT_dv4
{
	width:300px;
	height:180px;
	float:left;
	border:1px solid rgb(219, 219, 219);
	padding:5px;
}
.MrT_normal_btn {
	cursor: pointer;
	color: #FFF;
	border: none;
	border-radius: 3px;
	-webkit-background-clip: padding;
	-moz-background-clip: padding;
	/*background-color: #334AA7;
	-webkit-box-shadow: 0 1px 2px rgba(32, 82, 145, 0.22);
	box-shadow: 0 1px 2px rgba(28, 70, 109, 0.22);
	background-image: -webkit-linear-gradient(bottom, #1348A7 0%, #3A6BD1 100%);
	background-image: -moz-linear-gradient(bottom, #1b1b1b 0%, #434343 100%);
	background-image: -o-linear-gradient(bottom, #1b1b1b 0%, #434343 100%);
	background-image: -ms-linear-gradient(bottom, #1b1b1b 0%, #434343 100%);
	background-image: linear-gradient(bottom, #1b1b1b 0%, #434343 100%);*/
	
	background: rgb(19,72,167);
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgb(19,72,167) 0%, rgb(58,107,209) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(19,72,167)), color-stop(100%,rgb(58,107,209)));
background: -webkit-linear-gradient(top, rgb(19,72,167) 0%,rgb(58,107,209) 100%);
background: -o-linear-gradient(top, rgb(19,72,167) 0%,rgb(58,107,209) 100%);
background: -ms-linear-gradient(top, rgb(19,72,167) 0%,rgb(58,107,209) 100%);
background: linear-gradient(to bottom, rgb(19,72,167) 0%,rgb(58,107,209) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1348a7', endColorstr='#3a6bd1',GradientType=0 );

	outline: none;
	width: auto;
	padding: 7px 30px;
	height: auto;
	font-size: 16px;
	margin: 0 auto;
	float: none;
	display: inline-block;
	margin-bottom: 20px;
	font-weight: normal;
	text-decoration: none;
}
.MrT_normal_btn:hover {
	background: rgb(235,128,13); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ViODAwZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmE0MDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgb(235,128,13) 0%, rgb(255,164,2) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(235,128,13)), color-stop(100%,rgb(255,164,2))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgb(235,128,13) 0%,rgb(255,164,2) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgb(235,128,13) 0%,rgb(255,164,2) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgb(235,128,13) 0%,rgb(255,164,2) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgb(235,128,13) 0%,rgb(255,164,2) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb800d', endColorstr='#ffa402',GradientType=0 ); /* IE6-8 */
}
.newMrT
{
	position:relative;
}
.newMrT p
{
	text-align:center;
}
.MrT_Success1
{
	width:48%;
	height:auto;
	float:left;
}
.suez-MrT21
{
	position:relative;
	border:1px solid rgb(219, 219, 219);
	padding:10px;
	height:300px;
}
.suez-MrT21 h3
{
	color: #444;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}
.MrT_Success1 h3
{
	color: #444;
	font-weight:bold;
	margin:10px 0px;
	font-family:Arial, Helvetica, sans-serif;
}
.content_normal
{
	text-align:left;
	position:relative;
}
.content_normal p
{
	text-align:left;
	position:relative;
}
.floatright
{
float:right;
}
._4-u2 {
	background: #fff;
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	-webkit-border-radius: 3px;
	padding:25px;
}
._5c3e {
	background: #5890ff;
	font-size: 16px;
	padding: 14px 26px;
}
.content_normal p img
{
	width:40%;
	float:left;
	padding:0px 15px 15px 0px;
}
.shadow3{
	width: 370px;
	height:11px;
	background-image: url(../images/shadow2.png);
	background-repeat: no-repeat;
	margin: 0 auto;
	background-size: 100%;
	clear: both;
	background-position: -25px -4px;
}
.leftpatern_MrT
{
	position:relative;
}
.leftpatern_MrT h1
{
	text-align:center;
}
.new_tag3 h3
{
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
}
.maia-col-12 {
	width: 97.0238095238%;
}
.maia-col-3 {
	width: 22.0238095238%;
	float: left;
}
.maia-col-3 img {
	width: 85%;
	border:none;
	margin:0 auto;
	display:block;
	padding-top:10%;
}
.maia-col-9 {
	width: 74.0238095238%;
	float:right;
}
.maia-col-9 p
{
	color:#4B4B4B;
	text-align: left;
}
.MrT_part1
{
	position:relative;
	padding-bottom:15px;
	margin-bottom:15px;
	border-bottom:1px solid rgb(218, 219, 221);
}
.datafeedpanel
{
	margin-bottom:15px;
}
.datafeedpanel p b
{
	color:#116BDD;
}
.datafeedpanel table
{
	border:none;
}
.datafeedpanel table tr td, #section1 table tr td
{
	border: 1px solid rgb(211, 209, 209);
	padding:10px;
}
.datafeedpanel table tr td p
{
	margin-bottom:0px;
}
.aria-selected
{
	color:red;
}
#section2
{
	margin:20px 0px;
}
#section2 b, #section2 strong
{
	color:#116BDD;
}
#section1
{
	margin-top:25px;
}
#section1 h3
{
	color: #116BDD;
	text-align:center;
}
#section1 table
{
display: block!important;
margin-top: 18px;
border: none!important;
height: auto !important;
	
}
#section1 table tr td
{
	border-right:none!important;
	border-bottom:none!important;
}
#section1 table tr td:last-child
{
  border-right: 1px solid rgb(211, 209, 209)!important;
}
.ui-accordion .ui-accordion-header
{
	text-align: left;
}