.cat_tab_content_area{
	position: relative;
}
.cat_tabs{
	padding: 0px;
	height: 39px;
}
.cat_tab{
/*display: inline-block;
padding: 6px 12px;
height: 30px;
line-height: 30px;
color: #E69229;
position: relative;
margin-right: 5px;
background: #fff;
text-decoration: none;
border: 1px solid #fff;
border-bottom: 0 none;
font-size: 14px;
font-weight: normal;
cursor: pointer;
border: 2px solid #FFFFFF;
border-bottom: 1px solid #fff;
width: 219px;
padding: 0;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 5px;*/

float: left;
height: 30px;
line-height: 39px;
color: #E69229;
position: relative;
margin-right: 5px;
background: #fff;
text-decoration: none;
font-size: 14px;
font-weight: normal;
cursor: pointer;
border: 2px solid #FFFFFF;
border-bottom: 1px solid #fff;
width: 219px;
padding: 0;
padding-top: 0;
padding-bottom: 5px;
padding-left: 4px;
}
/*.cat_tab:nth-child(5)
{
	margin-right:0px;
	width: 234px;
	position: relative;
	left: 4px;
}*/
.view_all_cat{
	width: 23px;
	height: 34px;
	background: url('../../images/view_details.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 80%;
	display: inline-table;
	position: relative;
	top: 19px;

}
.cat_tab a{
color: #fff;
text-decoration: none;
color: #000;
padding: 2px 5px;
background: #fff;
border-radius: 2px;
font-size: 12px;
margin-left: 1em;
position: relative;
left: -2px;
} 
.cat_tab:hover{
color: #E2AB36;
border-radius: 5px 5px 0 0;
border: 2px solid #E6A646;
border-bottom: 4px solid #fff;
	
}
.cat_tab.active{
color: #06c;
border-radius: 5px 5px 0 0;
border: 2px solid #ECB830;
border-bottom:4px solid #fff;

}
.cat_tab.active a{
	color:#666;
}
.cat_tab_contant{
	width: 98%;
min-height: 200px;
background: #FFFFFF;
border: 2px solid #ECB830;
border-radius: 2px;
box-shadow: 2px 3px 5px #CCCCCC;
border-top: 2px solid #ECB830;

}
.cat_tab_contant .cat_inner_sub{
padding: 5px;

margin-top: 5px;
margin-bottom: 8px;
clear: both;
}
.cat_tab_contant. .cat_inner_sub .cat_iner_head{
	background: #F0F0F0;
}
.cat_tab_contant .cat_inner_sub .cat_iner_head>a{
	    color: #ff0000;
    	text-decoration: none;
}
.cat_iner_head
{
font-size: 15px;
padding: 0px 0 5px 0;
text-transform: uppercase;
font-weight: normal;
/*border-bottom: 2px solid #D1D1D1;*/
color: #242424;
margin-bottom: 20px;
margin-left: 1%;
}
.cat_iner_head a
{
	color: #252423!important;
	text-decoration: none;
	font-weight: bold;
}
.cat_child_inner_sub
{
color: #686868;
font-size: 14px;
padding: 5px 12px;
float: left;
/* margin-bottom: 10px; */
width: 17%;
border-left: 0px solid #E2A115;
}
.cat_tab_contant .cat_child_sub_content div.cat_child_inner_sub:first-child
{
	border-left:0px;
}
.cat_tab_contant .cat_child_sub_content div.cat_child_inner_sub:nth-child(5n+6)
{
	border-left:0px;
	clear:left;
}
.cat_child_inner_sub a
{
text-decoration: none;
color: #2c2c2c;
font-size: 13px;
font-family: 'calibri';
font-weight: normal;
background-image: url(../../images/listarrowison.png);
background-repeat: no-repeat;
background-position: -1px 5px;
background-size: 9px;
padding-left: 10px;
}
.cat_child_inner_sub a:hover {
    color: #067EDD;
	
}
/*.cat_child_inner_sub:nth-child(4n+5){
	clear: left;
}
*/
.no_cat_found
{
	padding-left: 1%;
    color: #666;
}

.rowpanel3 h1

{
text-transform: uppercase;
font-size: 26px;
line-height: 24px;
color: #F88A34;
margin: 0;
margin-bottom: 0;
padding-top: 10px;
font-weight: normal;
font-family: calibri;

}

.cat_icon
{
position: absolute;
top: 2px;
right: 0px;
}
.cat_child_inner_sub{width:auto}