@charset "utf-8";
/* CSS Document */


/* ---------------------------------------------------------------------- */
/* "Polyglot" Language Switcher
/* ----------------------------------------------------------------------
Version: 1.4
Author: Ixtendo
Author URI: http://www.ixtendo.com
License: MIT License
License URI: http://www.opensource.org/licenses/mit-license.php
------------------------------------------------------------------------- */


/* ---------------------------------------------------------------------- */
/* TABLE OF CONTENTS
/* ----------------------------------------------------------------------
-Generic
-JS-created Code
------------------------------------------------------------------------- */


/* ---------------------------------------------------------------------- */
/* Generic
/* ---------------------------------------------------------------------- */
#polyglotLanguageSwitcher, #polyglotLanguageSwitcher * {
	margin: 0;
	padding: 0; 
	outline: none;
}

#polyglotLanguageSwitcher ul {
	list-style: none;	
}

#polyglotLanguageSwitcher {
	
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #444;
	line-height: normal;
	position: relative; /* sets the initial position for the drop-down menu */	
	z-index: 100;
	
	margin-top: 6px;
background: white;
height: 26px;
border-radius: 2px;
}

#polyglotLanguageSwitcher form {
	display: none;	
}

/* ---------------------------------------------------------------------- */
/* JS-created Code
/* ---------------------------------------------------------------------- */
#polyglotLanguageSwitcher a {
	/*text-decoration: none;
	display: block;	
	padding: 0px 0px 10px 30px; 
	color:#FFFFFF;
	width:62px; 
	background-repeat: no-repeat;
	background-position: 6px center; 
	font-family:Verdana, Arial, Helvetica, sans-serif;*/
	
	text-decoration: none;
display: block;
padding: 11px 0px 10px 30px;
line-height: 4px;
color: #5C5C5C;
width: 65px;
font-size: 13px;
background-repeat: no-repeat;
background-position: 6px center;
font-family: Verdana, Arial, Helvetica, sans-serif;
}

#polyglotLanguageSwitcher a:hover {
	color:#F6AD10;	
}

#polyglotLanguageSwitcher a.current:link, #polyglotLanguageSwitcher a.current:visited, #polyglotLanguageSwitcher a.current:active {
	position: relative; /* sets the initial position for the trigger arrow */
	background-color:transparent;
	border:none;
	border-radius:0;
	height: 5px; /* 15px */
	
	-webkit-transition: all 0.1s ease 0s;
	-moz-transition: all 0.1s ease 0s;
	-o-transition: all 0.1s ease 0s;
	transition: all 0.1s ease 0s;
}

/*#polyglotLanguageSwitcher a.current:hover, 
#polyglotLanguageSwitcher ul.dropdown li:hover {
	background-color: #F7F7F7;
}*/

#polyglotLanguageSwitcher a.active { /* This style is applied as long as the drop-down menu is visible. */
	border-bottom: none !important;
	border-radius: 3px 3px 0 0 !important;
}

#polyglotLanguageSwitcher span.trigger {
	display: block;
	position: absolute;
	width: 9px;
	height: 5px;
	text-indent: -10000em;
	top: 10px!important;
	right: 6px!important;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

#polyglotLanguageSwitcher a.current:link span.trigger, #polyglotLanguageSwitcher a.current:visited span.trigger {
	background: url(../../images/front-end/drop2.png) no-repeat;	
}

#polyglotLanguageSwitcher a.current:hover span.trigger, #polyglotLanguageSwitcher a.current:active span.trigger, #polyglotLanguageSwitcher a.active span.trigger {
	/*background-position: left bottom !important;*/
}

/* Drop-Down Menu */

#polyglotLanguageSwitcher ul.dropdown { 
display: none;
position: absolute;
top: 28px;
right: 0px;
background-color: rgb(121, 169, 240);
border: none;
width: 95px;
border-radius: 2px;
height: 25px;
}

#polyglotLanguageSwitcher ul.dropdown li { 
	border-top: none;
	padding:6px 1px 4px 1px;
	display: block;
}
#polyglotLanguageSwitcher ul.dropdown li a { 
	border-top: none;
	padding: 3px 1px 3px 30px;
	display: block;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#FFF;
}
#polyglotLanguageSwitcher ul.dropdown li a:hover
{
	color:#FFFFFF;
}
#polyglotLanguageSwitcher ul.dropdown li:last-child { 
	border-radius: 0 0 3px 3px;
	padding-top: 6px;
}

/* Flags */

#en { 
	background-image: url(../../images/front-end/flags/gb.png);
}

#ar { 
	background-image: url(../../images/front-end/flags/saudi-ar.png);	
}
